*{
    box-sizing: border-box;

}
body {
    margin: 0;
    padding: o;
    font-family: Arial, Helvetica ,sams-serif;
}
header{
    width: 100%;
    background-color: rgba(26, 243, 243, 0.932);
    padding:20px;
    position:absolute;
    top:0;
   
}


header .container{
    display:flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    margin-right: 100px;
    font-size: 14px;
    letter-spacing: 1px;
    color:rgba(28, 92, 104, 0.719);
    font-family:  Tahoma;

}
.banner-container{
   
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgb(36, 237, 252), rgb(21, 96, 133));
    display: flex;


}
.banner-container .container{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    width: 100%;

}

.left-section{
    width: 600px;
}
.left-section h1{
     margin: 0;
     color: white;
     font-size: 40px;
 }

 .left-section p
 {
     margin: 0%;
     font-size: 14px;
     letter-spacing: 1px;
     color: rgb(255, 255, 255);
     margin-top: 20px;
     line-height: 28px;

 }
 .left-section button{
     color: rgb(43, 53, 56) ;
     background-color: white;
     border: none;
     padding: 12px;
     border-radius: 6px;
     margin-top: 6px ;
     cursor: pointer;
 }
 
 .right-section{
     
    width: 380px;
    height: 355px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 40px 0;
    box-shadow: 0 5px 6px rgba(7, 7, 7, 0.5);


 }
 .right-section h4{
     font-size: 20px;
     width: 200px;
     margin: auto;
     margin-bottom: 10px;
     color: rgba(7, 7, 7, 0.5);
 }

 .input-group{
     font-size: 12px;
     width: 200 px;
     margin: 30px;
     display: flex;
     flex-direction: column;
     position: relative;

 }
 .input-group label{
     color: rgb(106, 111, 126);
     font-size: 15px;
     position:absolute;
     top: 10px;
     transition: 0.5s ease-in-out;
 }
 .input-group input{
     border: none;
     padding: 7px;
     margin-top: 5px;
     outline: none;
     color: rgb(131, 125, 124);
     border-bottom: solid#85857f;
     
 }
 .input-group input:focus ~ label,
 .input-group input:valid ~ label
 {
     color: rgb(0, 163, 150);
     top: -12px;
     font-size: 13px;

 }

 .input-group input:focus ,
 .input-group input:valid 
 {
    border-color: rgb(105, 175, 233);
     
 }
.submit-button{
    background-color: steelblue;
    color: white;
    border: none;
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 5px;
    width: 250px;
    cursor: pointer;

}
.submit-section{
     text-align: center;

}
.submit-button:hover{
    box-shadow: 0 5px 8px silver ;
}